/**********************
.page-container{ 
    max-width: 980px;
    margin: 0 auto;
}

.welcome-block {
    background: rgb(246, 246, 246);
    text-align: center;
    padding: 20px 20px 180px;
    position: relative;
}

p {
    color: #bbc6bf;
}

.welkome-text-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px 100px 10px 100px;

}

***********************************************/
body{
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	
	
}

.center{
margin: auto;
}
.left{
	margin-left: 10px;
}

.right{
	margin-right: 150px;
}
.baners{
    width: 1920px;
	height: 100%;


}
.img-baners{
	margin:0 0 100px 0;
    width: 480px;
	height: 659px;
	float: left;

}

}
.baners-title{
	margin: auto;
}

.about-me{
	margin: auto;
	width: 1200px;
	height: 614px;
	padding: 0 15;
	
	
}
.content-block{
	float: left;
	width: 600px;
	height: 100%;
	padding: 50px 0 50px 0;
	background-color:white;
	
}
.text-block{
	font-weight: bold;
	font-size: 60px;
	
}
.text-1 {
	text-align:left;
	font-size:20px;
	padding: 5px 150px 5px 0;
}
.text-2 {
	text-align:left;
	padding: 0 150px 0 0;
	color: gray;
}
.day-color{
	color: orange;
}
.hours{
	font-size:15px;
	margin-left: 15px;
}
.iner{
	margin-top: 25px;
}
.photo-block{
	margin: auto;
	width: 482px;
	height: 564px;
	float: left;
}
.baner-video{
	width: 100%;
	
    height: 600px;
}
.baner-video-img{
    background-size: cover;
	width: 100%;
    height: 600px;
}
.text-block-video{
	position: absolute;
	margin: 250px 550px 300px 750px;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 60px;
}
.text-block-span{
	position: absolute;
	margin: 310px 550px 300px 770px;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 30px;
}
.text{
	margin: 310px 550px 300px 770px;
	text-align: center;

}
